@import './styles.css';

/* Projects Section */
.project {
    padding: 2rem 0;
}

.project__heading {
    margin-bottom: 5rem;
}

.projects section:nth-child(even){
    background: var(--color-secondary);
}

.project__topBtn {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.project {
    text-align: center;
    text-transform: uppercase;
}

.project__body {
    display: flex;
    text-transform: none;
    justify-content: space-evenly;
    gap: 2rem;
}

.project__block {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 5rem 4rem;
    width: 500px;
    text-align: left;
}

.project__block--written-context-space > :first-child{
    margin-bottom: 2rem;
}

.project__block a {
    text-decoration: none;
    font-weight: bold;
}

.project__block--ancher-color-green {
    color: green;
}

.project__block--ancher-color-blue {
    color: dodgerblue;
}

.project__block p {
    margin: 0;
}

.project__block > :first-child {
    margin-top: 0;
    margin-bottom: 5rem;
}

.project__media {
    height: 500px;
    border-radius: 20px;
    object-fit: contain;
    box-shadow: 5px 5px 10px 5px #222;
    border: 0;
}

@media screen and (max-width: 1024px){
    .project__media {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .project__body {
        flex-wrap: wrap;
    }

    .project__block {
        flex-grow: 0;
        width: auto;
    }

    .project__media {
        width: 70%;
    }
}