@import './styles.css';

/* Projects Section */
.project {
    padding: 2rem 0;
}

.project__container {
    width: 100vw;
}

.project__heading {
    margin-bottom: 5rem;
}

.projects > div:nth-child(odd){
    background: var(--color-secondary);
}

.project {
    text-align: center;
    text-transform: uppercase;
}

.project__body {
    display: flex;
    text-transform: none;
    justify-content: space-evenly;
    gap: 100px;
    padding-inline: 5rem;
}

.project__block {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: left;
}

.project__block a {
    text-decoration: none;
    font-weight: bold;
    text-shadow: none;
}

.project__block--ancher-color-green {
    color: green;
}

.project__block--ancher-color-blue {
    color: rgb(30, 83, 255)
}

.project__block p {
    margin: 0;
    padding-bottom: 2rem;
    width: 100%;
    line-height: 2.1rem;
}

.project__media {
    width: 375px;
    border-radius: 20px;
    object-fit: contain;
    box-shadow: 5px 5px 10px 5px #222;
    border: 0;
}

.project__media--space-below {
    margin-top: 0;
    margin-bottom: 5rem;
}

.project__media--space-above {
    margin-top: 5rem;
    margin-bottom: 0;
}

@media screen and (min-width: 1700px){
    .project__block {
        width: 800px;
    }

    .project__block p {
        line-height: 3rem;
    }

    .project__media {
        width: 600px;
    }
}

@media screen and (max-width: 1024px){
    .project__media {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 768px){
    .project__body {
        flex-wrap: wrap;
    }

    .project__block {
        flex-grow: 0;
        width: auto;
    }

    .project__media {
        width: 70%;
    }
}