:root {
    --color-body: #E5E1EE;
    --color-primary: #20465B;
    --color-secundary: #fff;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--color-body);
}

.container {
    margin: 3rem;
}

/* Icons */
.icon-container {
    display: flex;
    gap: 1.5rem;
    font-size: 1.7rem;
}

.icon--dark {
    color: #000;
}

/* Buttons */
.btn-container{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.btn {
    border-radius: 20px;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 2rem;
    margin: 0 2rem;
    padding: 1.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
}

.btn--primary {
    background: var(--color-primary);
}

.btn:hover {
    opacity: 70%;
}

@media screen and (max-width: 768px){
    .btn-container {
        flex-direction: column;
    }
}

/* Navigation Bar */
.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navBar__brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.navBar__brand > h3{
    margin: 0.4rem 0;
    padding-top: 1rem;
}

.navBar__brand > p{
    margin: 0.4rem 0;
}

.navBar__options {
    display: flex;
    gap: 1.5rem;
}

.navBar__options > a {
    text-decoration: none;
    color: #000;
}

/* Sections Divider */
.sectionDivider {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 2rem, 0;
}

.line {
    background: var(--color-primary);
    border-radius: 30px;
    flex-grow: 1;
    height: 0.6rem;
    margin: 0 2rem;
}
