:root {
    --font-family-Quicksand: 'Quicksand', sans-serif;
    --font-family-Poppins: 'Poppins', sans-serif;
    --color-body: #E5E1EE;
    --color-primary: #20465B;
    --color-secondary: #fff;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--color-body);
}

.container {
    margin: 3rem;
}

/* Typography */
h1, h2, h3, p, a {
    font-family: var(--font-family-Poppins);
}

h1 {
    font-size: 4.209rem;
}

h2 {
    font-size: 3.157rem;
}

h3 {
    font-size: 2.369rem;
}

p, a {
    font-size: 1.777rem;
}

/* Icons */
.icon-container {
    display: flex;
    gap: 1.5rem;
    font-size: 1.7rem;
}

.icon {
    transition: opacity 0.2s;
}

.icon:hover {
    cursor: pointer;
    opacity: 80%;
}

.icon--dark {
    color: #000;
}

.icon--primary {
    color: var(--color-primary);
}

.icon--secondary {
    color: var(--color-secondary);
}

/* Buttons */
.btn-container{
    display: flex;
    justify-content: space-evenly;
}

.btn {
    border-radius: 20px;
    border: 0;
    cursor: pointer;
    flex-grow: 1;
    font-size: 1.3rem;
    margin: 0 2rem 3rem;
    padding: 1.5rem 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.3s;
    font-family: var(--font-family-Quicksand);
    font-weight: bold;
}

.btn--primary {
    background: var(--color-primary);
    color: #fff;
}

.btn--secondary {
    background: var(--color-secondary);
    color: #000;
}

.btn:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

@media screen and (max-width: 768px){
    .btn-container {
        flex-direction: column;
    }
}

/* Navigation Bar */
.navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navBar--primary {
    background: var(--color-primary);
    color: #fff;
}

.navBar__brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.navBar__brand > h3 {
    margin: 0.4rem 0;
    padding-top: 1rem;
}

.navBar__brand > p {
    margin: 0.4rem 0;
}

.navBar__options {
    display: flex;
    gap: 1.5rem;
}

.navBar__options-item {
    transition: opacity 0.2s;
}

.navBar__options-item:hover {
    opacity: 70%;
}

.navBar__options--primary {
    text-decoration: none;
    color: var(--color-secondary);
}

/* Divider Lines */
.line {
    border-radius: 30px;
    height: 0.6rem;
    margin: 0 2rem;
}

.line--small {
    height: 0.2rem;
}

.line--dark {
    background: #000;
}

.line--primary {
    background: var(--color-primary);
}

.line--secondary {
    background: var(--color-secondary);
}

/* Sections Divider */
.sectionDivider {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 2rem, 0;
    text-transform: uppercase;
}

.sectionDivider--primary {
    background: var(--color-primary);
    color: var(--color-secondary);
}

.sectionDivider .line {
    flex-grow: 1;
}

/* Ellipses */
.downEllipse {
    background: var(--color-primary);
    clip-path: ellipse(60% 100% at 50% 0%);
    height: 40px;
}

.upEllipse {
    background: var(--color-primary);
    clip-path: ellipse(60% 100% at 50% 100%);
    height: 40px;
}

/* Contact Section */
.contactSection {
    display: flex;
    justify-content: center;
    background: var(--color-primary);
}

.contactContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 350px;
}

.contact__option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.contact__option h3{
    font-size: 1rem;
}

.contact__data {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.contact__text{
    margin: 0.5rem 0;
}

.contactContainer .line {
    margin: 0;
}

/* About Me Section */
.about-me {
    background: var(--color-primary);
    
}

.about-me__content {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    justify-content: space-around;
}

.about-me__image {
    border-radius: 20px;
    height: 200px;
    margin: 0.5rem 0;
    object-fit: cover;
    width: 200px;
}

/* Project section */
.projectSection {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
    padding: 2rem;
    text-align: center;
}

.projectSection__image {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.projectSection__item {
    transition: scale 0.3s;
}

.projectSection__item:hover {
    scale: 1.1;
}

@media screen and (max-width: 768px){
    .projectSection {
        justify-content: center;
    }
}

@media screen and (min-width: 1024px){
    .projectSection__image {
        width: 250px;
        height: 300px;
    }
}

@media screen and (min-width: 1200px){
    .projectSection {
        flex-wrap: nowrap;
        justify-content: center;
    }

    .projectSection__image {
        width: 380px;
        height: 430px;
    }
}