<section>
  <div class="projects">
    <h2>3D Printer</h2>
    <div class="projects__body">
      <div class="projects__block">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius facere
          omnis deserunt consequuntur aperiam enim fugit eveniet libero
          eligendi! Recusandae?
        </p>
        <img
          class="projects__media"
          src="../images/3DPrinterLASTcropped.jpg"
          alt="A custom 3D Printer"
        />
      </div>
      <div class="projects__block">
        <video
          class="projects__media"
          src="../videos/3DprinterLoop.mp4"
          autoplay
          loop
          muted
        ></video>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius facere
          omnis deserunt consequuntur aperiam enim fugit eveniet libero
          eligendi! Recusandae?
        </p>
      </div>
    </div>
  </div>
</section>
