<div class="contactContainer">
  <h3>Let's talk</h3>
  <div class="contact__option">
    <div class="contact__data">
      <span class="icon-container icon--dark">
        <i class="fa-solid fa-envelope"></i>
      </span>
      <div>
        <h3 class="contact__text">Email me</h3>
        <p class="contact__text">valentinlopezandres@gmail.com</p>
      </div>
    </div>
    <div class="line line--secondary"></div>
    <div>
      <div class="contact__data">
        <span class="icon-container icon--primary">
          <i class="fa-brands fa-linkedin"></i>
        </span>
        <h3>Chat me</h3>
      </div>
    </div>
  </div>
</div>
