<section>
  <div class="projects">
    <h2 id="NLP_Project">Natural Language Processing</h2>
    <div class="projects__body">
      <div class="projects__block">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius facere
          omnis deserunt consequuntur aperiam enim fugit eveniet libero
          eligendi! Recusandae?
        </p>
        <img
          class="projects__media"
          src="../images/pepperAndMe.jpg"
          alt="Pepper and me after the project was finished"
        />
      </div>
      <div class="projects__block">
        <video
          class="projects__media"
          src="../videos/pepperDemo.mp4"
          controls
          loop
        ></video>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius facere
          omnis deserunt consequuntur aperiam enim fugit eveniet libero
          eligendi! Recusandae?
        </p>
      </div>
    </div>
  </div>
</section>
